* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('Images/Virtual_Background.png');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #3f51b5;
    font-size: 1rem;
}
a:hover{
    color: rgb(197, 49, 30);
}

/* Header */
header{
    position: relative;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 85vh;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    font-size: 13px;
    height: 22.1px;
    font-weight: 400;
}

.navbar .toggle_btn{
    color: #3f51b5;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; 
}

.social-icon{
    display: flex;
    gap: 1rem;
    
}
.social-icon a{
    font-size: 1.5rem;
}

.action_btn{
    display: flex;
    font-size: 1.5rem;
}
/* Dropdown Menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(124, 114, 112, 0.103);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 325px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu li{
    gap: 1.5rem;
}

/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links,
    .social-icon,
    .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 650px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* Footer */

footer {
    background: black;
    color:white;
    text-align: center;
    padding: 30px 30px;
    font-size: 90%;
    display: flex;
    clear: both;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0,0,0, .2);
    bottom: unset;
    /* margin-top: 100%; */
}